/* Import Google font - Poppins & Noto */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:wght@400;500;600&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

.wrapper .captcha-area {
    display: flex;
    height: 35px;
    align-items: center;
}

.captcha-area .captcha-img {
    height: 35px;
    width: 120px;
    user-select: none;
    border-radius: 2px;
    position: relative;
    background-color: #a4a5a6;
}

.captcha-img .captcha {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    color: #2B2C2C;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    /* text-shadow: 0px 0px 2px #b1b1b1; */
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    /* text-decoration: line-through; */
}

.wrapper button {
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #E0A80D;
    border-radius: 2px;
    transition: all 0.3s ease;
    border: 2px solid #E0A80D;
}

.wrapper button:hover {
    background: #2B2C2C;
    border: 2px solid #E0A80D;
}

.captcha-area .reload-btns {
    width: 35px;
    height: 35px;
    font-size: 19px;
    margin-left: 10px;
    color: #2B2C2C;
}

.captcha-area .reload-btns i {
    transition: transform 0.3s ease;
}

.captcha-area .reload-btns:hover i {
    transform: rotate(180deg);
    color: #E0A80D;
}

.wrapper .input-area {
    height: 50px;
    width: 100%;
    position: relative;
}

.input-area input {
    width: 165px;
    height: 70%;
    outline: none;
    font-size: 15px;
    border-radius: 2px;
    border: 2px solid #fff;
    margin-top: 10px;
    color: #2B2C2C;
}


/* .input-area input:is(:focus,
 :valid) {
    border: 2px solid #E0A80D;
} */

.input-area input::placeholder {
    color: #bfbfbf;
}


/* .input-area .check-btn {
    position: absolute;
    right: 7px;
    top: 50%;
    font-size: 17px;
    height: 45px;
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
} */

.notice_btn {
    height: 50px;
    width: 100%;
}

.notice {
    height: 50px;
    width: 70%;
    float: left;
}

._btn {
    height: 50px;
    width: 30%;
    float: left;
}

.input-area input:valid+.check-btn {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .status-text {
    display: none;
    font-size: 18px;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .notice_btn {
        height: 100px;
        width: 100%;
    }
    .notice {
        height: 50px;
        width: 100%;
        float: left;
    }
    ._btn {
        height: 50px;
        width: 100%;
        float: left;
    }
}